/* logo green colour BBDD99 */

* {
  box-sizing: border-box;
}

ul {
  list-style: none;
}

header {
  background-color: #494949; /* logo grey */
  background-color: #545454; /* lighter logo grey */
  background-color: black;
}

.menu li.highlighted {
  border-bottom: solid 1px #BBDD99; 
  border-right: solid 1px #BBDD99; 
}

main {
  font-family: "Roboto", Arial, san-serif;
}


/* DESKTOP-specific */

@media (min-width:1025px) {
/* and (max-device-width: 1600px) */ 
/* and (-webkit-min-device-pixel-ratio: 1) */

  header {
    min-height: 90px;
    height: 11vh;
  }

  .container {
    width: 1200px;
    margin: 0 auto;
    max-width: 1440px;
  }

  nav {
    display: flex;
    font-weight: lighter;
    /* font-family: 'Roboto', Arial, sans-serif; */
  }

  .logo {
    flex-basis: 30%;
  }

  .menu {
    flex-basis: 70%;
    color: white;
    margin: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .menu li {
    text-transform: uppercase;
    letter-spacing: .3rem;
    padding: 3px;
  }

  .menu li:not(:first-child) {
    margin-left: 50px;
  }

  .menu li a {
    color: white;
    text-decoration: none;
  }

  .menu li a:visited,
  {
    text-decoration: none;
    color: white;
  }

  .menu li:hover,
  .menu li.current {
    border-bottom: solid 1px #BBDD99; 
  }

  .logo img {
    display: block;
  }

}
